<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link rel='stylesheet' href='/css/styles.css' />
        <script defer src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script defer src="/node_modules/vue/dist/vue.global.js"></script>
        <script defer src="/node_modules/axios/dist/axios.js"></script>
        {% block script %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
