* {
    box-sizing: border-box;
}

.converter-page h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.converter-page {
    margin-left: 10px;
}

.converter-page .result-table {
    margin-top: 10px;
    border: #000000 1px solid;
    border-collapse: collapse;
}

.converter-page td, .converter-page th {
    border: #000000 1px solid;
    width: 33%;
}

.converter-page .number-text {
    text-align: right;
}
